.edit-name-container {
  display: flex;
  gap: 8px;
  margin-top: 8px; 
  align-items: center;
}

.visibility-icon {
  position: absolute;
  border-radius: 50%;
  top: 8px;
  left: 8px;
  cursor: default;
}

.design-image-container {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  position: relative;
  background-image: url('https://res.cloudinary.com/da8qnqmmh/image/upload/back4bazaar.jpg');
  background-size: 300%;
  background-position: 50% 55%;
  background-repeat: no-repeat;
  height: 180px;
}

.design-image {
  width: 100%;
  height: 100%
}

.design-overlay {
  z-index: 1000;
}

.design-modal {
  z-index: 1000;
  position: absolute; 
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 15px;
  background: var(--mantine-color-body);
  max-width: 80vw;
  display: flex;
  flex-direction: column;
}

.design-modal-image {
  width: 400px;
  border-radius: 15px;
  margin: 20px 0;
}