/* Header styles */

.dashboard-header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

/* Sidebar styles */

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  color: #495057;
  position: relative;
}

.menu-item:hover {
  background-color: var(--mantine-color-default-hover);
}

.active {
  font-weight: bold;
}

.active::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--mantine-color-text);
}

.menu-item-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-item-icon {
  border-radius: 50%;
  border: 1px solid var(--mantine-color-text);
  color: var(--mantine-color-text);
  padding: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active .menu-item-icon {
  background-color: var(--mantine-color-text);
  color: var(--mantine-color-body);
}


/* Page layout styles */
.page-container {
  background-color: var(--mantine-color-body);
  padding: 24px;
  min-height: calc(100vh - 60px);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  color: var(--mantine-color-text);
}

