.share-container {
    display: flex;
    justify-content: flex-end;
    pointer-events: all;
    height: 3.5rem;
    position: relative;
    z-index: 1;
}

.share-button-container {
    pointer-events: all;
    cursor: pointer;
    background: linear-gradient(to top, #494949, #A9A9A9);
    border-radius: 2rem;
    padding: 1px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
/* Styles for the share button */
.share-button {
    /* Display flex to align items in a row */
    display: flex;
    /* Align items vertically in the center */
    align-items: center;
    /* Justify content to the center */
    justify-content: center;
    /* Gap between items */
    gap: 0.5rem;
    /* Background color */
    background: #494949;
    /* Border style */
    border: 1px solid transparent;
    /* Border radius for rounded corners */
    border-radius: 2rem;
    /* Text color */
    color: white;
    /* Font family */
    font-family: "Helvetica Neue";
    /* Font size */
    font-size: 0.875rem;
    /* Font weight */
    font-weight: 500;
    /* Cursor pointer for interactive elements */
    cursor: pointer;
    /* Transition effect for smooth changes */
    transition: all 0.3s ease;
    /* Padding for spacing */
    padding: 0 1.5rem;
    /* Width and height set to 100% to cover the container */
    width: 100%;
    height: 100%;
}

.share-button-text {
    min-height: 28px;
    align-items: center;
    display: flex;
}

.share-button:hover {
    background: #383838;
}

@keyframes menuAppear {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
