.share-container {
    position: absolute;
    top: -.9rem;
    right: 1vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
    pointer-events: all;
    z-index: 20;
}

.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: #494949;
    border: 1px solid transparent;
    border-radius: 2rem;
    min-height: 3.5rem;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    pointer-events: all;
    padding: 0 1.5rem;
}

.share-button-container {
    cursor: pointer;
    background: linear-gradient(to top, #494949, #A9A9A9);
    border-radius: 2rem;
    padding: 1px;
    display: inline-block;
}

.share-button-text {
    min-height: 28px;
    align-items: center;
    display: flex;
}

.share-button:hover {
    background: #383838;
}

@keyframes menuAppear {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
