.viewerContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .viewerCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .loadingOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 9, 9, 0.2); /* Semi-transparent background */
  }
  
  .loadingGif {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }