body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-y: auto;
  /* Use relative path to the image in shared assets */
  background-image: url('../assets/images/background_final_last.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Add fade to content instead of body */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

}



.main-content {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
}
