.profile-page-content {
  padding: 20px 40px;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: var(--mantine-color-body);
}

.profile-subpage-content {
  padding: 20px 0;
  width: 100%;
}

.submit-button {
  margin-top: 1rem;
  background-color: var(--mantine-color-bright);
  color: var(--mantine-color-body);
  border: none;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.submit-button:hover {
  font-weight: 700;
}
